---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Icon from "../components/Icon.astro"
---

<html>
    <head>
        <title>Moonsoft Studios</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <Header />
        <div id="about" class="flex pt-10 bg-gray-300">
            <div class="basis-1/2">
                <div class="flex flex-row">
                    <img alt="Moonsoft Studios Logo" src="main/MoonsoftStudios2-01.png" class="w-[15vw] my-auto ml-auto mr-5">
                    <ul class="my-auto mr-auto ml-5">
                        <li>Name: James Moffett</li>
                        <li>Username: Innocent Traitor</li>
                        <li>Pronouns: He/Him</li>
                        <li>Location: Kansas, United States</li>
                        <li>Occupation: Service Desk Tech</li>
                    </ul>
                </div>
                <p class="mt-5 mx-20">I am a hobbyist developer, focused on making games that I would enjoy playing and developing tools I would use myself. I've been working on various different projects for a few years now, and always have tons of ideas for new ones! I also dabble in content creation showing off my creations or those I've worked on with others. I always enjoy learning new things, and I'm always looking for new ways to improve my skills. I hope I can one day develop Moonsoft Studios into a successful game studio!</p>
            </div>

            <div class="basis-1/2 flex flex-row m-auto justify-center gap-10">
                <div>
                    <p>Languages and Frameworks I've used:</p>
                    <ul class="mb-1">
                        <li class="flex flex-row mb-1">
                            <Icon icon="AstroLightIcon" />
                            Astro w/ <Icon icon="TailwindIcon" />Tailwind
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="GLuaIcon" />
                            GLua (Garry's Mod Lua)
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="JSIcon" />
                            Javascript /w <Icon icon="NodeJSIcon" />Node.js
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="GMLLightIcon" />
                            GameMaker Language
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="GodotIcon" />
                            GDScript
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="CSharpIcon" />
                            C#
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="RustIcon" />
                            Rust
                        </li>
                    </ul>
                </div>
                <div>
                    <p>Software and Tools I've used:</p>
                    <ul class="mb-1">
                        <li class="flex flex-row mb-1">
                            <Icon icon="VisualStudioCodeIcon" />
                            Visual Studio Code
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="GitIcon" />
                            Git
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="AsepriteIcon" />
                            Aseprite
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="GodotIcon" />
                            Godot Engine
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="AudacityIcon" />
                            Audacity
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="UnityIcon" />
                            Unity Engine
                        </li>
                        <li class="flex flex-row mb-1">
                            <Icon icon="CodeiumIcon" />
                            Codeium Assistant
                        </li>
                </ul>
                </div>
           </div>  

        </div>
        <div id="projects">
        </div>
        <div id="posts">

        </div>
        <div id="contact">

        </div>
        <Footer />
    </body>
</html>