---
---

<footer class="flex flex-row h-[5vh] border-t-2 border-black bg-[#00beef]">
    <p class="basis-1/3 ml-2 mt-2">&copy; 2024 Moonsoft Studios | James Moffett | Innocent Traitor</p>
    <div class="basis-1/3 my-auto"></div>
    <p class="basis-1/3 mr-2 mt-2 text-right">Made with Astro</p>
</footer>