---
---

<nav class="flex gap-4 justify-end mr-10 text-xl">
    <a href="#about">About</a>
    <a href="#brojects">Projects</a>
    <a href="#posts">Posts</a>
    <a href="#contact">Contact</a>
</nav>
